<h1>Newsletter</h1>
This month's sponsor
<br/>
<%= render partial: 'reports/newsletter/sponsor', collection: @sponsors %>
<br/>
<br/>
<%= render partial: 'reports/events/event', collection: @events %>
